:root{
    --color:rgb(143, 146, 168);
    --background-color: rgb(38, 53, 124);
    --border: rgb(3, 0, 11);
    --color1:rgb(41, 10, 121);
}
*{
    padding:0px;
    margin:0px;
}
body{
    background-color:rgb(134, 174, 186);
    color:var(--color1);

}
ul{
    display:flex;
    
    background-color:var(--background-color);
}
ul li{
    width:8vw;
    display:flex;
    list-style: none;
    color: var(--color);
    background-color:Var(--background-color);
    padding: 30px;
    margin:auto;
    width:auto;
   height:auto;
}
li{
    display:flex;
    /* border:1px solid var(--border); */
    width:auto;
    border-radius: 7px;
    padding:10px;
    margin:10px;

}
a{
    text-decoration: none;
    color: var(--color);
    background-color:Var(--background-color);
     
}
a:hover{
    color:rgb(91, 96, 133);
}
.nav1{
    padding:40px;
    margin:20px;
}
h2{
    --color:rgb(20, 5, 59);
    --bgcolor:rgb(92, 139, 154);
    color:var(--color);
    background-color: var(--bgcolor);
    padding:5px;
    margin:17px;
}
P{
    border:1px solid var(--border);
    padding:9px;
    margin:9px;
    border-radius:7px;
}
@media only screen and (orientation:landscape) {
    :root{
    --color:rgb(75, 119, 144);
    --background-color: rgb(21, 8, 71);
    --border: rgb(180, 171, 206);
    --color1:rgb(44, 19, 101);
}
body{
    background-color:rgb(88, 89, 174);
    color:var(--color1);

}
ul{
    display:flex;
    
    background-color:var(--background-color);
}
ul li{
    width:8vw;
    display:flex;
    list-style: none;
    color: var(--color);
    background-color:Var(--background-color);
    padding: 30px;
    margin:auto;
    width:auto;
   height:auto;
}
li{
    display:flex;
    /* border:1px solid var(--border); */
    width:auto;
    border-radius: 7px;
    padding:10px;
    margin:10px;

}
a{
    text-decoration: none;
    color: var(--color);
    background-color:Var(--background-color);
     
}
a:hover{
    color:rgb(28, 43, 159);
}
.nav1{
    padding:40px;
    margin:20px;
}
h2{
    --color:rgb(35, 33, 39);
    --bgcolor:rgb(85, 75, 143);
    color:var(--color);
    background-color: var(--bgcolor);
    padding:5px;
    margin:17px;
}
P{
    border:1px solid var(--border);
    padding:9px;
    margin:9px;
    border-radius:7px;
}
}